@model IEnumerable<CircoParrotTools.Web.Models.Video>

@{
    ViewData["Title"] = "Lista Buckets";
}

<head>
    <link href="https://vjs.zencdn.net/7.0.3/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
</head>

<h1>Lista de Videos</h1>

<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered table-striped" style="clear: both">
            <tr>
                <th>Video</th>
                <th>-</th>
            </tr>

            @foreach (var video in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => video.VideoName)
                    </td>
                    <td>
                        <input type="button" name="name" value="Play" onclick="PlayInPlayer('@video.VideoURL ');" />
                    </td>

                </tr>
            }
        </table>
    </div>

    <div class="col-md-6">
        <video id="my-video" class="video-js" controls preload="auto" width="640" height="264" data-setup="{}">
            <source src="@Model.ElementAt(0).VideoURL " type="video/mp4">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        <script src="https://vjs.zencdn.net/7.0.3/video.js"></script>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function PlayInPlayer(url) {
            debugger;
            var video = videojs("my-video");
            video.src(url);
        }
    </script>
}