<!-- Bread crumb is created dynamically -->
<!-- row -->
<div class="row">

    <!-- col -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark text-center ">
            <!-- PAGE HEADER -->
            Bienvenidos a Circo Parrot Media Tools<br><br><br>
            <small class="text-success">
                Seleccione una opcion del menu
            </small>
        </h1>

    </div>
    <!-- end col -->

</div>






@section Scripts {
    <script>
        $(function () {
        });
    </script>
}
